In [1]:
students=['ashok','divya','kumar','vivek','latha','kashyap']
print(students)

['ashok', 'divya', 'kumar', 'vivek', 'latha', 'kashyap']

In [2]:
k=students.pop()
print(k)

kashyap

In [3]:
print(k)

kashyap

In [4]:
print(k)

kashyap

In [5]:
print(students)

['ashok', 'divya', 'kumar', 'vivek', 'latha']

In [7]:
my_students=['ashok','ravi','harshini','anand']
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [8]:
my_students.remove('ravi')
print(my_students)

['ashok', 'harshini', 'anand']

In [9]:
my_students.remove('ashok')
print(my_students)

['harshini', 'anand']

In [10]:
#sorting a list permanently

In [11]:
cars=['maruthi','bmw','audi','tayota','honda']
print(cars)

['maruthi', 'bmw', 'audi', 'tayota', 'honda']

In [13]:
cars.sort()
print(cars)

['audi', 'bmw', 'honda', 'maruthi', 'tayota']

In [14]:
cars=['maruthi','bmw','audi','tayota','honda','benz']
print(cars)

['maruthi', 'bmw', 'audi', 'tayota', 'honda', 'benz']

In [15]:
cars.sort()
print(cars)

['audi', 'benz', 'bmw', 'honda', 'maruthi', 'tayota']

In [17]:
my_students=['ashok','ravi','harshini','anand']
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [18]:
print(sorted(my_students))

['anand', 'ashok', 'harshini', 'ravi']

In [19]:
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [20]:
cars.reverse()
print(cars)

['tayota', 'maruthi', 'honda', 'bmw', 'benz', 'audi']

In [21]:
#length of a list

In [22]:
len(my_students)

4

In [23]:
len(students)

5

In [24]:
len(cars)

6

In [25]:
print(my_students)

['ashok', 'ravi', 'harshini', 'anand']

In [26]:
my_students.insert(500,'abc')
print(my_students)

['ashok', 'ravi', 'harshini', 'anand', 'abc']